table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.table-container{
  margin: 2%;
}
td, th, table {
  border: 1px solid #989898;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #F0F0F0;
}
.member{
  position: absolute;
  background-color:	#707070;
  color: #fff;
  border:none;
  margin-left: 5px;
  border-radius:10px;
}
.button-container{
  width: 120px;
  padding: 2px;
}

.button-container1{
  width: 100px;
  padding: 2px;
}
.join{
  padding: 8px;
  margin-left: 5px;
  border: solid 1px;
}
