body {
  padding: 2%;
}

.navig-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.image {
  width: 10%;
  height: 45%;
}

.logo-header {
  display: flex;
}

.title {
  padding-left: 5%;
}

.navBar {
  display: flex;
  grid-gap: 25%;
  list-style: none;
  padding-right: 10%;
  text-decoration: none;
}

/* for noneactiv router */
.link {
  text-decoration: none;
}

/* for active one */
.link-active {
  text-decoration: underline;
}
